$white-color: #fff;
$neutral-black: #000;
$troke-light: #dee2e6;

$brand-accent: #1b5a37;
$brand-blue: #3279b7;
$brand-yellow: #fedd02;
$light-yellow: rgba(#fedd02, 0.05);
$light-blue: rgba(#0088ff, 0.2);
$error-500: #dc2323;
$warning-500: #ffc043;
$success-500: #3dbb65;
$success-600: #278d48;

$neutral-white-light: #f9f9f9;
$neutral-black-light: #333;
$neutral-grey-1: #808080;
$neutral-grey-2: #b2b2b2;
$neutral-grey-3: #e5e5e5;
$neutral-grey-4: #f2f2f2;

$infor-500: #007aff;
