$white-color: #fff;
$black-color: #000;
$black-light-color: #333;
$body-color: #f2f2f2;
$blue-color: #3279b7;

$success-color: #278d48;
$error-color: #dc2323;

$neutral-color-1: #808080;
$neutral-color-2: #e5e5e5;
