@import "variables";
@import "mixins";
@import "utilities";

@import "./components/logo";
@import "./components/buttons";
@import "./components/title";
@import "./components/input";
@import "./components/search-bar";
@import "./components/pagination";
@import "./components/product-item";
@import "./components/list-item";
@import "./components/checkbox";
@import "./components/options";

@import "./layouts/top-nav";
@import "./layouts/side-bar";
@import "./layouts/bot-nav";
@import "./layouts/main";

// BASE styles
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-family: Arial;
	max-width: 576px;
	width: 100%;
	margin: 0 auto;
}
p {
	margin-bottom: 0 !important;
}
