@import "variables";
@import "mixins";

@import "./components/logo";
@import "./components/buttons";

@import "./layouts/top-nav";
@import "./layouts/bot-nav";
@import "./layouts/footer";

// BASE styles
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-family: Arial;
}
