.btn {
	outline: none;
	padding-block: 1.2rem;
	font-size: 1.4rem;
	border-radius: 6px;
	@include flex(row, center, center);
	&__border {
		&--brand-blue {
			border: 1px solid $brand-blue;
		}
		&--neutral-grey-2 {
			border: 1px solid $neutral-grey-2;
		}
	}
	&__text {
		&--brand-blue {
			color: $brand-blue;
		}
		&--white-color {
			color: $white-color;
		}
	}
}

.btn__collapsed.collapsed .chevrons-down {
	transform: rotate(0deg);
}
.btn__collapsed .chevrons-down {
	transition: transform 0.5s ease;
	transform: rotate(180deg);
}
