.bot-navigation {
	position: fixed;
	bottom: 0;
	z-index: 10;
	max-width: 576px;
	width: 100%;
	margin: 0 auto;
	padding: 0 1rem;
	background-color: $white-color;
	&__list {
		@include flex(row, space-around, center);
		list-style-type: none;
		padding: 0;
		border-top: 1px solid $neutral-grey-3;
	}
	&__item {
		padding: 1.2rem 8px;
		&.active {
			color: $brand-blue;
			border-top: 3px solid $brand-blue;
			> * {
				color: $brand-blue;
			}
		}
	}
	&__link {
		@include flex(column, center, center);
		color: $neutral-grey-2;
		text-decoration: none;
		font-size: 1.2rem;
		line-height: 1.38rem;
	}

	&__text {
		padding-top: 4px;
	}
}
