.top-navigation {
	@include flex(row, space-between, center);
	background: $brand-yellow;
	padding: 1rem 1.8rem;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 10;
	&__list {
		list-style-type: none;
		margin: 0;
		padding: 0;
		@include flex(row, space-evenly, center);
	}
	&__item {
		padding: 5px 8px;
	}
}
